form{

  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 325px;
  gap: 8px;
  padding: 32px;
  height: 100%;
  gap: 12px;
  backdrop-filter: blur(8px);
  background: rgba(9, 12, 63, 0.345);
  color: white;
}



h2{
  font-size: 20px;
  font-weight: 400;
}

label{
  font-size: 10px;
}

input{
  padding: 4px;
  background: rgb(236, 235, 235);
  padding: 8px 0px;
  padding-left: 8px;
}

.pr-btn{
  width: 100%;
}


