:host{
  display: block;
  height: 100%;
  overflow: scroll;
}

.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgb(43, 77, 46);
  font-size: 32px;
  gap: 12px;
}

app-header{
  display: block;
  position: sticky;
  top: 0;
  z-index: 1;
}


app-category-picker{
  width: fit-content;
  padding: 8px;
}


