:host{
width: 100%;
border-bottom: 1px solid rgb(177, 49, 27);
height: fit-content;
}

h2{
  padding: 0px;
  margin: 0px;
}

#default-header{
  background: #9E3333;
  display: flex;
  padding:  0 8px;
}

.logo{
  width: fit-content;
  cursor: pointer;
}

.shopping-utilities{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.search-container{
  width: 50%;
  position: relative;
  color: black;
}

.shopping-search-bar{
  width: 100%;
  border: 1px solid rgb(69, 69, 69);
  background: white;
  outline: none;
  padding: 2px 4px;
}

.submit-button{
  color: white;
  position: absolute;
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  font-size: 10px;
  cursor: pointer;
  border-radius: 50%;
  height: 20px;
  aspect-ratio: 1/1;
  text-align: center;
  background: rgb(40, 40, 40);
  padding: 1px;

}

.header-button:hover{
  background: rgb(40, 40, 40);
}

.home-button{
  font-size: 16px;
}
