.shop-gallery{
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  width: fit-content;
  overflow: scroll;
  height: 100%;
}

.shop-item{
  border: 1px solid rgba(128, 128, 128, 0.256);
  height: fit-content;
}

.picture{
  width: 325px;

}

.name-and-price{
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

.description{
  color: grey;
}

