:host{
  --bg-color: rgb(251, 255, 207);
  background-color: var(--bg-color);
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.side-panel{
  height: 200px;
  display: flex;
  justify-content: center;

}

app-panel {
  width: 35px;
  padding: 8px;
  gap: 8px;
}

app-gallery{
  --carousel-width: 325px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--carousel-width), 1fr));
  gap: 8px;
  overflow: scroll;
}

.main-content{
  display: flex;
  height: 100%;
  width: 100%;
  overflow: scroll;
}
