:host{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  background-image: url('/11399912.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title{
  background: black;
  border-radius: 8px;
  width: 100%;
  text-align: center;
  padding: 8px;
}
