:host{
  height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

app-header{
  position: sticky;
  top: 0;
  height: fit-content;
}

main{
  height: 100%;
  overflow-y: hidden;
  margin: 4px;
}

