/* You can add global styles to this file, and also import other style files */
html, body{
  overflow: hidden;
  box-sizing: border-box;
  height: 100%;
  width :100%;
  margin: 0;
  padding: 0;

  color: white;
  font-family: "Geist Pixel", sans-serif;

}

ul, li, button, input{
  all: unset;
}

input{
  background: grey;
  border: 1px solid white;
  border-radius: 8px;
}

*{
  margin: 0 ;
  padding: 0 ;
}

.button-text{
  color: white;
  text-align: center;
}
.glass{
  /* From https://css.glass */
background: rgba(177, 177, 177, 0.2);
border-radius: 4px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}


