/* You can add global styles to this file, and also import other style files */
html, body{
  overflow: hidden;
  box-sizing: border-box;
  height: 100%;
  width :100%;
  margin: 0;
  padding: 0;
  background: rgb(49, 49, 49);
  color: white;
  font-family: "Geist Pixel", sans-serif;

}

ul, li, button, input{
  all: unset;
}

input{
  background: grey;
  border: 1px solid white;
  border-radius: 8px;
}

*{
  margin: 0 ;
  padding: 0 ;
}

.button-text{
  color: white;
  text-align: center;
}

.button-text:hover{
  background: rgb(60, 60, 60);
}

.card{
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 100px;
  /* From https://css.glass */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  height: 100%;
  background: rgba(0, 0, 0, 0.256);
}
