.grid-wrapper{
  display: grid;
  grid-template-rows: 100px;
  grid-template-columns: 100px;
  gap: 8px;
  height: 95%;
  padding: 8px;
  border-top: 0px;
  border: 10px solid white;
  background: rgb(196, 251, 206);
}



.portage{
  width: 100%;
  height: 100%;
  background-image: url('/portage.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-row: 1/5;
  grid-column: 1/6;
}

.books{
  width: 100%;
  height: 350px;
  background-image: url('/books.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-row: 5/12;
  grid-column: 1/6;
}

.camping{

  width: 100%;
  height: 100%;
  background-image: url('/camping.png');
  background-size: cover;
  background-position: center 100%;
  background-repeat: no-repeat;
  grid-row: 1/12;
  grid-column: 7/12;
}

.climbing{
  width: 100%;
  height: 100%;
  background-image: url('/climbing.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-row: 5/12;
  grid-column: 6/7;
}

.rectangle{
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 400px;
  background: #EDDD53;
background: radial-gradient(circle, rgb(128, 127, 124) 0%, rgb(42, 76, 124) 66%);
  grid-row: 1/5;
  grid-column: 6/7;
}

.line-one{
  width: 300px;
  height: fit-content;
  letter-spacing: -2px;
  line-height: 65px;;
  background: black;
  border-radius: 8px;
  padding: 32px;
}

.title{
  font-size: 4em;
}

.category{
  position: absolute;
  bottom: 2%;
  left: 2%;
  font-size: 32px;
  font-weight: 600;
}

.category-container{
  position: relative;
  transition: 0.18s all;
}

.category-container:hover{
  opacity: 0.75;
}

.category-search-form{
  display: flex;
  gap: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.combo{
  all: unset;
  width: fit-content;
  padding: 16px 32px;
  border-radius: 12px;
  background: rgb(234, 248, 157);
  color: black;
  text-align: center;
  font-size: 24px;
  font-weight: 1000;
}

.quicklinks{
  color: black;
  background: white;
  padding: 16px;
  padding-bottom: 0;
  border-bottom: 0px;
}

.default{
  color: black;
}
