:host {
  display: block;
  height: 100%;
  overflow: scroll;

  background: linear-gradient(180deg, #c3e6ef 0%,  #1a384c 100%);
  }

app-header{
  display: block;
  position: sticky;
  top: 0;
  z-index: 100000;
}

app-hero-section{
  border: 10px solid white;
  display: block;
  flex-direction: column;
  gap: 8px;
  height: fit-content;
  overflow: hidden;
  margin: 32px;
  margin-bottom: 4px;

}



app-category-section{
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 4px 32px;
}

app-footer{
  display: block;
  height: fit-content;
  padding: 4px 32px 32px 32px;
}

