:host {
  display: block;
  flex-direction: column;
  height: 100%;
  overflow: scroll;
  background: rgba(29, 35, 42)
  }

app-hero-section{
  display: block;
  height: 100%;
  overflow: hidden;
  margin: 32px;
  padding: 32px;
  border-radius: 24px;
  background: RGB(110, 96, 54);
background: linear-gradient(180deg,rgba(110, 96, 54, 1) 0%, rgba(29, 35, 42, 1) 54%);
}



app-category-section{
  display: block;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 32px;
}
