:host {
  display: block;
  flex-direction: column;
  height: 100%;
  overflow: scroll;
  }

app-hero-section{
  display: block;
  height: 100%;
  background-image: url('/hero-image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  margin: 4px;
  border-radius: 8px;
}

app-category-section{
  display: block;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 4px;
}
