.panel{
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.panel-button-list{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  height: 100%;
  border-radius: 8px;

  /*glass effect start*/
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  height: 100%;
  color: black;
  /*glass effect end*/
}

.panel-button{
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 0.18s all;
  font-size: 8px;
}

.panel-button:hover{
  background: rgb(64, 64, 64);
}

.panel-button:active{
  background: rgb(126, 126, 126);
}
