.shop-item {
  height: 100%;
  width: 100%;
  background: rgb(255, 255, 255);
  color: black;
  position: relative;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: fit-content;
  padding: 8px;
  margin: auto;
}

.item-meta-data {

  display: flex;
  flex-direction: column;
  gap: 8px;
  width: var(--carousel-width);
  color: black;
}

.tag {
  background: rgba(0, 255, 251, 0.337);
  border-radius: 2px;
  font-size: 16px;
  color: rgb(0, 0, 0);
}


.sell-and-rental-status {
  display: flex;
  flex-flow: row wrap;
  width: fit-content;
  gap: 8px;
}

.description {
  color: grey;
  background: white;
  font-size: 14px;
}

.price{
  color: black;
  font-size: 12px;
  background: rgb(234, 234, 234);
  font-weight: 100;
  padding: 8px;
}

.name-and-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 600;
  background: white;
  gap: 8px;
}

.carousel {
  display: flex;
  margin: 0 auto;
  width: 325px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  anchor-name: --carousel;
  scroll-snap-type: x mandatory;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel::scroll-button(right),
.carousel::scroll-button(left) {
  content: ">";
  width: 20px;
  border: none;
  border-radius: 50%;
  padding-bottom: 0.1em;
  aspect-ratio: 1/1;
  cursor: pointer;
  position: fixed;
  position-anchor: --carousel;
  position-area: right center;
  translate: -150%;
}

.carousel::scroll-button(left) {
  content: "<";
  position-area: left center;
  translate: 50%;
}

.carousel::scroll-button(right):disabled,
.carousel::scroll-button(left):disabled {
  opacity: 0.5;
  cursor: default;
}

.picture {
  width: var(--carousel-width);
  aspect-ratio: 1/0.8;
  scroll-snap-align: start;
}

.grid{
--carousel-width: 325px;
  padding: 32px;
  gap: 16px;
  display: grid;
  overflow: scroll;
  grid-template-columns: repeat(auto-fill, minmax(var(--carousel-width), 1fr));

}

