

:host{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  color: black;
  flex-direction: row;
  width: 30vw;
  height: 100%;
  animation: custom-dialog-enter 1.0s ease;
}

@keyframes custom-dialog-enter {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.description{
  padding: 8px;
}

form{
  padding: 8px;
  display: flex;
  gap: 8px;
}

#postalCode{
  background: white;
  border: 1px solid black;
  padding-left: 4px;
}

.pr-btn{
  color: white;
  background: black;
  padding: 8px;
  cursor: pointer;
}

.secondary-btn{
  border: 1px solid black;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
}

.close-icon{
  cursor: pointer;
  border-radius: 100%;
  border: 1px solid black;
  height: fit-content;
  padding: 4px;
}

.title-and-close-btn{
  padding: 8px;
  display: flex;
  justify-content: space-between;
}


